* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

}

.mei-section {
    padding: 100px 0;
}


/* HEADER  */
header{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.dark header{
    background-color: black;
}

header .navbar-brand {
    color: #dc4f72 ;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}
#portNavbar .nav-item .nav-link{
    color: #2c3038;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    transition: all .5s;
}
.dark #portNavbar .nav-item .nav-link{color: #b7b7b7;}
 .navbar-toggler i{
    border-radius: 6px;
    padding: 10px;
    background-color:#dc4f72;
    color:white;
    
}
#portNavbar .nav-link:hover {
    color: #dc4f72;
}
#portNavbar .active .nav-link{
    color: #dc4f72;
}
#portNavbar .nav-item .nav-link i{
 font-size: 10px;
 color: #2c3038;
}

#portNavbar .nav-item .nav-link::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    transition: all .5s;
    display: block;
}
#portNavbar .nav-item .nav-link:hover::after{
width: 40%;

}
header .header__search{
    border: none;
    background-color: white;
    margin-top: 15px;
}
header .header__search i{
    color: #5a5a5a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f7f9fc;
    border:1px solid #eee;
    text-align: center;
    margin-right: 15px;
    transition: all .5s;
}
header .header__search:hover i{
    color: black;
}
header .modal input{
    padding: 15px 20px 12px ;
    width: 100%;
    height: 55px;
    font-size: 16px;
    line-height: 25px;
    border: 1px solid #eee;
    background-color: #fff;
    border-right: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    outline: none;
}
.modal-content{
    border: none;
    background-color:  #5a5a5a ;
}
header .modal form button{
    
    font-size: 17px;
    padding: 0 25px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background-color:#dc4f72;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ; 
}
header .modal .modal-content>button{
    position: absolute;
    right: 20px;
    top: -50px;
    font-size: 30px;
    color:#fff;
    opacity: 0.7;transition: all .5s;
    text-shadow: 0 1px 0 #fff;
}
header .modal .close:hover{
    color: white;
    border-color: white;
    
}
header .header__button{
    font-size: 14px;
    font-weight: 700;
    padding: 0 35px;
    line-height: 52px;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    transition: all .5s;
}
header .header__button:hover{
    background-color: #dc4f72;
    color: white;
    border: none;
}

header .header__dark{
    width: 24px;
    height: 24px;
    padding: 0px 0;
    border: none;
    margin-left:  5px;
}



#myBody {
    background-color: white;
  }
  #switchButton {
    background-color: white;
    
  }
  #switchButton .fa-sun {
    display: none;
    position: relative;
    font-size: 25px;

  }
  #switchButton .fa-moon {
    display: block;
    font-size: 25px;
  }
  
  /* Dark Theme*/
  .dark#myBody {
    background-color: black;

    
  }
   .dark #switchButton {
    background-color: black ;

  }
   .dark #switchButton .fa-sun {
    display: block;
    color: #b7b7b7;
    
  }
   .dark #switchButton .fa-moon {
    display: none;
    color: #b7b7b7;
  }
  .dark .card__item{
    background-color: #191c1d;
    color: white;
    border-color:#191c1d ;
  }
  .dark .card__item:hover{
    background-color: black;
  }
  .dark .header__search{
    background-color:black;
  }
  .dark .header__search i{
    background-color: black;
    border: 1px solid #2c3038;
  }
  .dark .header__search:hover i{
    color: #eee;
    border-color: #5a5a5a;
  }
  

  

/* STARTUP  */
.startup .startup__title{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.startup .startup__title span{
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.startup .startup__title h2{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    color: #2c3038;
}
.startup .startup__title p{
    font-size: 16px;
    line-height: 22.5px;
    color: #5a5a5a;
    font-weight: 400;
    margin: 15px 0;
}
.dark .startup .startup__title p{
    color: #b7b7b7;
}

.start__item{
    background-color: #f7f9fc;
    padding: 40px 25px;
    border: 1px solid #f7f9fc;
    border-radius: 6px;
    transition: all .5s;
}

.start__item:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);

}


.startup__content  .start__item h3{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    color: #2c3038;
    margin: 15px 0;
}
.startup__content  .start__item p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
}
.dark .startup__content .start__item h3{
    color: white;
}
.dark .startup__content .start__item p{
    color: #b7b7b7;
}
.dark .startup .startup__title .dark__color{
    color: white;   
  }
   

/* OURRSELVES  */
.ourselves{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.ourselves__content{
    width: 50%;
    
}
.ourselves__content .ourselves__title h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
}
.ourselves__content .ourselves__card{
    color: #eee;
    font-size: 16px;
    line-height: 24.5px;
    margin: 20px 0 40px 0;
}
.ourselves__content button{
    padding: 0px 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
}
/* PROJECTS */  
.Projects span{
    color: #dc4f72;
    line-height: 20px;
    font-weight: 700;
}
.Projects .Projects__title h3{
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.dark .Projects .Projects__title h3 {
    color: white;
}
.Projects .Projects__title p{

    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    margin-bottom: 26px;
}
.dark .Projects .Projects__title p{
    color: #b7b7b7;
}

.Projects .Projects__title{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.Projects__content h4{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #2c3038;
    margin-bottom: 16px;
    margin-top: 10px;
    
}
.dark .Projects__content h4{
    color: white;
}
.Projects__content p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    margin-bottom: 16px;
}
.dark .Projects__content p{
    color: #b7b7b7;
}
.Projects__content button{
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 20px;
    
}
.Projects__list .Projects__item{
    background-color: white;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 90px;
    border: none;
    border-bottom: 3px solid rgb(193, 193, 193);
}
#pills-tabContent{
    width: 80%;
    margin: 0 auto;
    
}
.dark .Projects__list .Projects__item {
    background-color: black;
    color: #eee;
}
.Projects__list .Projects__item.active{
    color: #dc4f72;
    border-bottom: 3px solid #dc4f72;
}
.Projects__img img{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    transition: all .5s;
}
.Projects__img img:hover{
    transform: translateY(-10px);
}
.Projects .Project__button{
   color: #dc4f72;
   border: 1px solid #dc4f72;
   border-radius: 5px;
   background-color: white;
   transition: all .5s;
}
.Projects .Project__button:hover{
    background-color: #dc4f72;
    color: white;
}
.dark  .Project__button {
    background-color: black;
}
.card-header .btn.text-left.collapsed{
 color: black;

}
.card-header .btn{
color: #dc4f72;
border: none;
font-size: 18px;

}
.card-header{
    border-bottom:  1px solid #dc4f72;;
}
#accordionExample{
    display: none;
}
.dark #accordionExample .card{
    background-color: black;
    border-color: rgb(193, 193, 193);
}
.dark .card-header .btn.text-left.collapsed{
    color:#eee;
   
   }

 


/* READY  */
.ready{
    width: 60%;
    margin: 0 auto;
}
.ready h3{
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.dark .ready h3{
    color: white;
}
.ready p{
    font-size: 16px;
    color: #5a5a5a;
    line-height: 22.5px;
    font-weight: 400;
    margin: 20px 0 40px 0;
}
.dark .ready p{
    color: #b7b7b7;
}
.ready button{
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
    padding: 0 30px;
}
.ready .ready__button1{
    color: #dc4f72;
   border: 1px solid #dc4f72;
   border-radius: 5px;
   background-color: white;
   transition: all .5s; 
}
.ready .ready__button1:hover{
    background-color: #dc4f72;
    color: white;
}
.dark  .ready__button1{
    background-color: black;
}
.ready .ready__button2{
    background-color: #dc4f72;
    color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid #dc4f72;
    transition: all .5s;
}
.ready .ready__button2:hover{
    background-color: #cf2e2e;
}


@media screen and ( max-width:1200px){
    header .container{
        max-width: 1120px;
    }
    .startup .startup__title {
        width: 90%;
        margin: 0 auto;
    }
    .ourselves__content{
        width: 60%;
        
    }
    .ready{
        width: 70%;
        margin: 0 auto;
    }
    
}

@media screen and ( max-width:992px){
    
    #switchButton{
        position: absolute;
        right: 65px;
        top : 20px ;
    }
    #portNavbar .nav-item .nav-link,.dropdown-menu {
        text-align: center;
        padding: 8px 0;
    }
    .header__button, .header__search{
        display: block;
        margin: 0 auto;
    }
    #portNavbar .nav-item .nav-link::after{
        display: none;
    }



    .startup .startup__title h2{
        font-size: 40px;
        line-height: 50px;
    }
    .ourselves__content{
        width: 60%;
        
    }
    .ourselves .container{
        width: 90%;
        margin: 0 auto;
    }
    #pills-tabContent{
        width: 90%;
        margin: 0 auto;
        
    }
    .Projects .Projects__title{
        width: 80%;
        margin: 0 auto;
    }
    .ready{
        width: 90%;
        margin: 0 auto;
    }

}



@media screen and ( max-width:768px){

.startup .startup__title{
    width: 100%;
}
 

.startup .container{
    width: 90%;
    margin: 0 auto;
    
}
.ourselves .ourselves__button{
    margin-bottom: 40px;
}
#accordionExample{
    display: block;
}
.Projects__list{
    display: none;
}
.Projects .Projects__title{
    width: 90%;
    margin: 0 auto;
}
.ready h3{
    font-size: 40px;
    line-height: 50px;
}
.ready{
    width: 90%;
    margin: 0 auto;
}
}

@media screen and ( max-width:667px){
    .startup .startup__title h2{
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width :576px){
    .startup .container{
        width: 100%;
        margin: 0 auto;
        
    }
    
}











    













