
/*! CODE CSS CHUNG  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;

}

.mei-section {
  padding: 100px 0;
}

.btn-primary {
color: #fff;
background-color: #dc4f72;
border-color: #dc4f72;
}

.btn-primary:hover {
color: #fff;
background-color: #d62f58;
border-color: #cf2952;
}


.btn-outline-primary {
color: #dc4f72;
border-color: #dc4f72;
}

.btn-outline-primary:hover {
color: #fff;
background-color: #dc4f72;
border-color: #dc4f72;
}

:root {
--dark-text:#b7b7b7 ;
--drack: #131617;
--primary: #dc4f72;
--secondary: #0d5fa8;
--title-color: #2c3038;
--text-color: #5a5a5a;
--light-color: #191c1d;
--light-bg-color:#f7f9fc;
--bg-color: #fff;
--border-color: #eee;
--bg-color-light: #fff;
--bg-lightgrey: #f7f7f7;
--border-color-light: #f8f9fa;

--card-curve: 6px;
--iframe-filter: grayscale(0%);
--card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
--card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
--transformY: translateY(-0.5rem);
}
.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.row {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.heading__section {
max-width: 750px;
margin: 0 auto;
}
.heading__section p {
max-width: 750px;
margin: 0 auto;
}

.heading__section h3 {
color: var(--title-color);
font-size: 46px;
line-height: 1px;
font-weight: 700;
}
.heading__section p {
color: var(--text-color);
font-size: 16px;
line-height: 22.5px;
font-weight: 400;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

.dark .heading__section p{
color: var(--dark-text);
}
@media (max-width: 800px) {
.heading__section h3 {
  font-size: 40px;
  line-height: 50px;
}

}
@media (max-width: 667px) {
.heading__section h3 {
  font-size: 32px;
  line-height: 42px;
}
}
.section__title {
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: var(--primary);
text-transform: uppercase;
margin-bottom: 5px;
}

.theme-button {
transition: 0.3s ease-out;
display: inline-block;
line-height: 52px;
font-weight: 700;
font-size: 14px;
margin: 0px;
padding: 0px 30px;
text-transform: uppercase;
}

@media screen and (max-width: 767px) {
.theme-button {
  line-height: 44px;
  padding: 0px 20px;
}
}

img.img-curve {
border-radius: var(--card-curve);
transition: 0.3s ease-in-out;
}

img.img-curve:hover {
transform: var(--transformY);
transition: 0.3s ease-in-out;
}

*/ img.shadow {
box-shadow: var(--card-hover-box-shadow);
}

/*! END CODE CSS CHUNG  */

/* HEADER  */
header{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}
.dark header{
  background-color: var(--drack);
}
header .navbar-brand {
  color: var(--primary);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
}

#portNavbar .nav-item .nav-link {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  transition: all .5s;
}
.dark #portNavbar .nav-item .nav-link{
    color:  var(--dark-text);
}
.navbar-toggler i{
  border-radius: 6px;
  padding: 10px;
  background-color:var(--primary);
  color:var(--bg-color);
}

#portNavbar .nav-link:hover {
  color: var(--primary);
}

#portNavbar .active .nav-link {
  color: var(--primary);
}
 .dark #portNavbar .active .nav-link {
  color: var(--primary);
}

#portNavbar .nav-item .nav-link i {
  font-size: 10px;
  color: var(--title-color);
}

#portNavbar .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: all .5s;
  display: block;
}
.dropdown-item::after{
  content: "";
  width:0;
  height: 2px;
  background-color: var(--primary);
  transition: all .5s;
  display: block;
}
.dropdown-item:hover:after{
  width: 25px;
}
#portNavbar .nav-item .nav-link:hover::after{
width: 40%;
}
header .header__search {
  border: none;
  background-color: var(--bg-color);
  margin-top: 15px;
}
header .header__search i {
  color: var(--text-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--light-bg-color);
  border: 1px solid var(--border-color);
  text-align: center;
  margin-right: 15px;
  transition: all .5s;
}
header .header__search:hover i{
  color:var(--title-color);
}
header .header__button {
  font-size: 14px;
  font-weight: 700;
  padding: 0 35px;
  line-height: 52px;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all .5s;
}
header .header__button:hover{
  background-color: var(--primary);
  color: var(--bg-color);
  border: none;
}

header .header__dark{
  width: 24px;
  height: 24px;
  padding: 0px 0;
  border: none;
  margin-left:  5px;
}
.dropdown-menu{
  padding: 0;
}

#myBody {
  background-color:var(--bg-color);
}
#switchButton {
  background-color: var(--bg-color);
}
#switchButton .fa-sun {
  display: none;
  position: relative;
  font-size: 25px;
}
#switchButton .fa-moon {
  display: block;
  font-size: 25px;
  color: var(--light-color) ;
  transform: rotate(-20deg) scale(1);
}

/* Dark Theme*/
.dark#myBody {
  background-color: var(--drack);
}
 .dark #switchButton {
  background-color: var(--drack);
}
 .dark #switchButton .fa-sun {
  display: block;
  color:  var(--dark-text);
}
 .dark #switchButton .fa-moon {
  display: none;
  color: var(--dark-text);
}
.dark .header__search{
  background-color:var(--drack);
}
.dark .header__search i{
  background-color:var(--drack);
  border: 1px solid var(--title-color);
}
.dark .header__search:hover i{
  color:  var(--border-color);
  border-color: var(--text-color);
}
.dark .dropdown-item{
  background-color:var(--drack);
  color: var(--bg-color);
}
/* END HEADER  */
/* CAROUSEL */

.contentCarousel {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
      url(../img/IMgmaster01.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: 
      no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.dark .contentCarousel{
background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
 url(../img/IMgmaster01.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat:
      no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;

}
.myCarousel {
margin-top: 80px;
}
.myCarousel .contentCarousel__left h3{
color: var(--title-color);
font-size: 50px;
line-height: 1;
font-weight: 700;
}
.dark .myCarousel .contentCarousel__left h3{
color: var(--border-color);
}

.myCarousel .contentCarousel__left p {
color: var(--text-color);
font-size: 20px;
line-height: 28px;
font-weight: 400;
max-width: 450px;
}

.dark .myCarousel .contentCarousel__left p  {
color:  var(--dark-text);
}


/* END CAROUSEL  */




/* STARTUP  */
.startup .startup__title{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.startup .startup__title span{
  color:  var(--primary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.startup .startup__title h2{
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  color:var(--title-color);
}
.startup .startup__title p{
  font-size: 16px;
  line-height: 22.5px;
  color: var(--text-color);
  font-weight: 400;
  margin: 15px 0;
}
.dark .startup .startup__title p{
  color: var(--dark-text);
}

.start__item{
  background-color: var(--light-bg-color);
  padding: 40px 25px;
  border: 1px solid var(--light-bg-color);
  border-radius: 6px;
  transition: all .5s;
}

.start__item:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);

}
.startup__content  .start__item h3{
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  color: var(--title-color);
  margin: 15px 0;
}
.startup__content  .start__item p{
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
}

.dark .card__item{
  background-color: var(--light-color);
  color:var(--bg-color);
  border-color: var(--light-color) ;
}
.dark .card__item:hover{
  background-color: black;
}
.dark .startup__content .start__item h3{
  color: var(--bg-color);
}
.dark .startup__content .start__item p{
  color: var(--dark-text);
}
.dark .startup .startup__title .dark__color{
  color:var(--bg-color);  
  
  
}
/* END STARTUP    */





/* ABOUT  */

.about {
background-color:var(--light-bg-color);
}

.dark .about{
background-color: var(--light-color);
}
.about .about__info h3 {
color: var(--title-color);
font-size: 35px;
line-height: 1;
font-weight: 700;
}

.dark .about .about__info h3{
color: var(--border-color);
}

.about .about__info p {
font-style: normal;
font-weight: normal;
font-size: 16px;
color: var(--text-color);
line-height: 24.4px;
}
.dark .about .about__info p{
color: var(--dark-text);
}

/*STATS*/
.myStats {
background :var(--light-bg-color);
}

.dark .myStats {
background: var(--light-color);
}

.myStats p.counter {
font-size: 50px;
line-height: 1;
color: var(--primary);
margin-bottom: 0;
font-weight: 700;
margin-bottom: 15px;
margin-top: 10px;
}

.myStats .stats__info h4 {
font-size: 16px;
line-height: 24.5px;
text-transform: capitalize;
color: #2C3038;
font-weight: 700;
}

.dark .myStats .stats__info h4{
color:  var(--border-color);
}

.myStats .stats__info :nth-child(3){
color: var(--text-color);
}

.dark .myStats .stats__info :nth-child(3){
color:  var(--dark-text);
}

.myStats .stats__info {
background-color:var(--bg-color);
padding: 2rem;
border-radius: var(--card-curve);
box-shadow: var(--card-box-shadow);
transition: 0.3s ease;
border: 1px solid var(--border-color-light);}

.dark .myStats .stats__info{
background-color: var(--drack);
border: 1px solid #333;

}

.myStats .stats__info:hover {
box-shadow: var(--card-hover-box-shadow);
transition: 0.3s ease;
}


/*END STATS*/

/* END ABOUT  */

/* OURRSELVES  */
.ourselves{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg\ oliver.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.ourselves__content{
  width: 50%;
  
}
.ourselves__content .ourselves__title h2{
  color:var(--bg-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  
}
.ourselves__content .ourselves__card{
  color:  var(--border-color);
  font-size: 16px;
  line-height: 24.5px;
  margin: 20px 0 40px 0;
}
.ourselves__content button{
  padding: 0px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
}


/* END OURRSELVES  */



/*QUESTION */


.questions {
background-color:var(--light-bg-color);
}

.dark .questions{
background-color:  var(--light-color);
}

.questions .questions__image {
position: -webkit-sticky;
position: sticky;
top: 80px;
}

.questions .questions__right .transition,
.questions .questions__right p,
.questions .questions__right ul li i:before,
.questions .questions__right ul li i:after {
transition: all 0.25s ease-in-out;
}

.questions h3{
 color:var(--title-color);
font-size: 46px;
line-height: 1;
font-weight: 700;
}
.dark .questions h3{
color: var(--border-color);
}
.questions .questions__right h2 {
font-size: 20px;
line-height: 1;
font-weight: normal;
display: block;
margin: 0;
cursor: pointer;
color: #2C3038;
}

.dark .questions .questions__right h2{
color:  var(--border-color);
}
.questions .questions__right p {
color: var(--text-color);
font-size: 16px;
line-height: 24.5px;
position: relative;
overflow: hidden;
max-height: 800px;
opacity: 1;
transform: translate(0, 0);
margin-top: 14px;
z-index: 2;
}

.dark .questions .questions__right p{
color: var(--dark-text);
}

.questions .questions__right ul {
list-style: none;
padding: 0;
max-width: 750px;
margin: 0 auto;
}

.questions .questions__right ul li {
position: relative;
padding: 25px 50px 25px 20px;
border: 1px solid var(--border-color);
margin: 0 0 15px 0;
border-radius: var(--card-curve);
background:var(--bg-color);
}

.dark .questions .questions__right ul li {
border: 1px solid #333;
background: var(--drack);
}

.questions .questions__right ul li:nth-of-type(1) {
-webkit-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.questions .questions__right ul li:nth-of-type(2) {
-webkit-animation-delay: 0.75s;
animation-delay: 0.75s;
}

.questions .questions__right ul li:nth-of-type(3) {
-webkit-animation-delay: 1s;
animation-delay: 1s;
}

.questions .questions__right ul li:nth-of-type(4) {
-webkit-animation-delay: 1.25s;
animation-delay: 1.25s;
}

.questions .questions__right ul li:nth-of-type(5) {
-webkit-animation-delay: 1.50s;
animation-delay: 1.50s;
}

.questions .questions__right ul li:nth-of-type(6) {
-webkit-animation-delay: 1.75s;
animation-delay: 1.75s;
}

.questions .questions__right ul li i {
position: absolute;
transform: translate(-6px, 0);
margin-top: 16px;
right: 25px;
top: 16px;
}

.questions .questions__right ul li i:before,
.questions .questions__right ul li i:after {
content: "";
position: absolute;
background-color: var(--title-color);
width: 3px;
height: 9px;
}

.questions .questions__right ul li i:before {
transform: translate(-2px, 0) rotate(45deg);
}

.questions .questions__right ul li i:after {
transform: translate(2px, 0) rotate(-45deg);
}

.questions .questions__right ul li input[type=checkbox] {
position: absolute;
cursor: pointer;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
top: 0;
left: 0;

}

.questions .questions__right ul li input[type=checkbox]:checked~p {
margin-top: 0;
max-height: 0;
opacity: 0;
transform: translate(0, 50%);
}
.questions .questions__right ul li input[type=checkbox]:checked~i:before {
transform: translate(2px, 0) rotate(45deg);
}

.questions .questions__right ul li input[type=checkbox]:checked~i:after {
transform: translate(-2px, 0) rotate(-45deg);
}



/* END QUESTION  */

/* PROJECTS */  
.Projects span{
  color: var(--primary);
  line-height: 20px;
  font-weight: 700;
}
.Projects .Projects__title h3{
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.dark .Projects .Projects__title h3 {
  color:var(--bg-color);
}
.Projects .Projects__title p{

  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  margin-bottom: 26px;
}
.dark .Projects .Projects__title p{
  color: var(--dark-text);
}

.Projects .Projects__title{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.Projects__content h4{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:var(--title-color);
  margin-bottom: 16px;
  margin-top: 10px;
  
}
.dark .Projects__content h4{
  color:var(--bg-color);
}
.Projects__content p{
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  margin-bottom: 16px;
}
.dark .Projects__content p{
  color:  var(--dark-text);
}
.Projects__content button{
  padding: 0 30px;
  font-size: 14px;
  line-height: 52px;
  font-weight: 700;
  margin-top: 20px;
  
}
.Projects__list .Projects__item{
  background-color: var(--bg-color);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding: 15px 90px;
  border: none;
  border-bottom: 3px solid rgb(193, 193, 193);
}
#pills-tabContent{
  width: 80%;
  margin: 0 auto;
  
}
.dark .Projects__list .Projects__item {
  background-color: var(--drack);
  color:  var(--border-color);
}
.Projects__list .Projects__item.active{
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}
.Projects__img img{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  transition: all .5s;
}
.Projects__img img:hover{
  transform: translateY(-10px);
}
.Projects .Project__button{
 color: var(--primary);
 border: 1px solid  var(--primary);
 border-radius: 5px;
 background-color:var(--bg-color);
 transition: all .5s;
}
.Projects .Project__button:hover{
  background-color: var(--primary);
  color: var(--bg-color);
}
.dark .Project__button {
  background-color: var(--drack);
}
.card-header .btn.text-left.collapsed{
color: var(--drack);

}
.card-header .btn{
color:  var(--primary);
border: none;
font-size: 18px;

}
.card-header{
  border-bottom:  1px solid #dc4f72;;
}
#accordionExample{
  display: none;
}
.dark #accordionExample .card{
  background-color: black;
  border-color: rgb(193, 193, 193);
}
.dark .card-header .btn.text-left.collapsed{
  color: var(--border-color);
 
 }

/* END PROJECTS */     



/* CLIENTS  */


.clients__content {

    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.77)),
        url(../img/IMgmaster12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.dark .clients__content {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)),
  url(../img/IMgmaster12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.clients .clients__content h3{
color: var(--title-color);
font-size: 46px;
line-height: 1;
font-weight: 700;
}

.dark .clients .clients__content h3{
color: var(--border-color);
}

.clients .slider-info {
max-width: 95%;
margin: 0 auto;
padding: 2rem;
display: grid;
grid-template-columns: auto 1fr;
grid-gap: 50px;
background-color:var(--bg-color);
border-radius: 6px;
}


.dark .clients .slider-info{
background-color: var(--drack);
}

.clients .img-circle {
width: 100px;
height: 100px;
display: inline-block;
overflow: hidden;
background: #f3f6f9;
border-radius: 50%;
border: 3px solid var(--primary);
}

.clients .img-circle img {
width: 100%;
min-height: 100%;
-o-object-fit: cover;
object-fit: cover;
-o-object-position: center;
object-position: center;
}

.clients .message {
position: relative;
}

.clients .message span {
font-size: 30px;
color: var(--title-color);
opacity: 0.2;
position: absolute;
top: 0px;
left: -40px;
right: 0;
}

.clients .message p {
font-size: 18px;
line-height: 26px;
color: #2C3038;
}

.dark .clients .message p {
color: var(--border-color);
}

.clients .name h4 {
font-size: 18px;
color: var(--primary);
font-weight: 400;
}

.clients .name p {
font-size: 13px;
color:var(--text-color);
}

.dark .clients .name p{
color: var(--dark-text);
}

.clients .owl-two.owl-theme .owl-nav [class*=owl-prev],
.clients .owl-two.owl-theme .owl-nav [class*=owl-next] {
display: none;
}


/* END CLIENT  */ 



/*OWL CAROUSEL*/
.owl-carousel,
.owl-carousel .owl-item {
-webkit-tap-highlight-color: transparent;
position: relative;
}

.owl-carousel {
width: 100%;
z-index: 1;
}

.owl-carousel .owl-stage {
position: relative;
touch-action: manipulation;

}

.owl-carousel .owl-stage:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.owl-carousel .owl-stage-outer {
position: relative;
overflow: hidden;

}

.owl-carousel .owl-item {
min-height: 1px;
float: left;
-webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
display: block;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
border: none;
}

.owl-carousel.owl-loading {
opacity: 0;
display: block;
}

.owl-carousel.owl-hidden {
opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
touch-action: pan-y;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.owl-carousel.owl-grab {
cursor: move;
cursor: -webkit-grab;
cursor: grab;
}

.owl-carousel.owl-rtl {
direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
float: right;
}

.owl-carousel .animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
z-index: 0;
}

.owl-carousel .owl-animated-out {
z-index: 1;
}

.owl-carousel .fadeOut {
-webkit-animation-name: fadeOut;
animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
0% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}

@keyframes fadeOut {
0% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}

.owl-height {
transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
opacity: 0;
transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
position: relative;
height: 100%;
background: #000;
}

.owl-carousel .owl-video-play-icon {
position: absolute;
height: 80px;
width: 80px;
left: 50%;
top: 50%;
margin-left: -40px;
margin-top: -40px;
background: url(owl.video.play.html) no-repeat;
cursor: pointer;
z-index: 1;
transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
display: none;
}

.owl-carousel .owl-video-tn {
opacity: 0;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
position: relative;
z-index: 1;
height: 100%;
width: 100%;
}


.owl-theme .owl-dots,
.owl-theme .owl-nav {
text-align: center;
-webkit-tap-highlight-color: transparent;
}

.owl-dots {
margin-top: 0px;
bottom: -55px;
position: absolute;
left: 0;
right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
color:var(--bg-color);
font-size: 20px;
margin: 0px;
padding: 0;
background: rgba(220, 79, 114, 0.4);
display: inline-block;
cursor: pointer;
transition: 0.3s ease-in-out;
height: 40px;
width: 40px;
line-height: 40px;
border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
background: var(--primary);
opacity: 1;
text-decoration: none;
outline: none;
box-shadow: none;
transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
outline: none;
box-shadow: none;
}

.owl-theme .owl-nav .disabled {
opacity: .8;
cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
display: inline-block;
zoom: 1;
background: transparent;
padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
width: 40px;
height: 5px;
margin: 5px 5px;
background: var(--bg-color);
display: block;
border: none;
transition: opacity .2s ease;
border-radius: 0;
position: relative;
}

.dark .owl-theme .owl-dots .owl-dot span{
background: var(--drack);
}

button.owl-next,
button.owl-prev {
position: absolute;
bottom: 45%;
}

button.owl-prev {
left: 5px;
}

button.owl-next {
right: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
background: var(--primary);
}

@media all and (max-width: 640px) {
button.owl-prev {
  left: 0px;
}

button.owl-next {
  right: 0px;
}

button.owl-next,
button.owl-prev {
  bottom: 75%;
}
}

.owl-one.owl-dots {
display: none;
}

.owl-one.owl-theme .owl-dots .owl-dot span {
display: none;
}

.owl-three.owl-dots {
display: none;
}

.owl-three.owl-theme .owl-dots .owl-dot span {
display: none;
}

.owl-three.owl-theme button.owl-next,
.owl-three.owl-theme button.owl-prev {
display: none;
}


/* END OWLCAROUSEL  */





/* READY  */
.ready{
  width: 60%;
  margin: 0 auto;
}
.ready h3{
  color:var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.dark .ready h3{
  color:var(--bg-color);
}
.ready p{
  font-size: 16px;
  color: var(--text-color);
  line-height: 22.5px;
  font-weight: 400;
  margin: 20px 0 40px 0;
}
.dark .ready p{
  color: var(--dark-text);
}
.ready button{
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  padding: 0 30px;
}
.ready .ready__button1{
  color:  var(--primary);
 border: 1px solid var(--primary);
 border-radius: 5px;
 background-color:var(--bg-color);
 transition: all .5s; 
}
.ready .ready__button1:hover{
  background-color: var(--primary);
  color: var(--bg-color);
}
.dark  .ready__button1{
  background-color:  var(--drack);
}
.ready .ready__button2{
  background-color: var(--primary);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  border: 1px solid  var(--primary);
  transition: all .5s;
  margin: 10px 10px 0 0;
}
.ready .ready__button2:hover{
  background-color: #cf2952;
}


/* END READY  */




/* FOOTER  */

.footer .footer__content.py-5 {
background:var(--light-bg-color);
}

.dark .footer .footer__content.py-5{
background: var(--light-color);
}


.footer .footer__content h3 {
color: var(--title-color);
font-size: 20px;
line-height: 1;
font-weight: 700;
}

.dark .footer .footer__content h3{
color:  var(--border-color);
}


.footer .footer__content h4 {
font-size: 18px;
line-height: 25px;
color: #2C3038;
margin-bottom: 30px;
font-weight: 500;
}

.dark .footer .footer__content h4{
color: var(--border-color);
}


.footer .end-column {
background-color:var(--bg-color);
padding: 2em;
border-radius: var(--card-curve);
box-shadow: var(--card-box-shadow);
}

.dark .footer .end-column{
background-color: var(--drack);
}

.footer .below-section,
.footer .para-content-footer {
border-top: 1px solid var(--border-color);
}

.dark .footer .below-section,
.footer .para-content-footer{
border-top: 1px solid #333;
}

.footer .footer__content h3 a:hover,
.footer .footer-gd-16 li a:hover,
.footer .footer__content p a:hover {
opacity: 0.8;
color: var(--primary);
}

.dark .footer .footer__content p a:hover {
opacity: 0.8;
color: var(--primary);
}

.footer .footer__content p {
line-height: 22px;
color: var(--text-color);
font-size: 16px;
}
.dark .footer .footer__content p{
color: var(--dark-text);
}

.footer .footer__content p a {
color: #2C3038;
}

.dark .footer .footer__content p a{
color: var(--border-color);
}

.footer a.footer-small-text {
color: var(--title-color);
line-height: 24px;
font-size: 16px;
font-weight: 600;
transition: 0.3s ease-in;
}

.footer a.footer-small-text:hover {
color: var(--primary);
transition: 0.3s ease-in;
}

.footer .text-sub-small {
color: #656f7b;
font-size: 14px;
margin-top: 4px;
}

.footer form {
display: flex;
margin-bottom: 15px;
justify-content: space-between;
}

.footer .subscribe input[type="email"] {
background: var(--light-bg-color);
border: none;
padding: 12px 20px;
font-size: 16px;
outline: none;
width: 78%;
color: #2C3038;
font-weight: 600;
border-radius: var(--card-curve);
}

.dark .footer .subscribe input[type="email"] {
  background: var(--light-color);
  color:var(--border-color);

  }

.footer .subscribe button {
text-align: center;
background: var(--primary);
border: none;
outline: none;
font-size: 16px;
font-weight: 600;
padding: 12px 20px;
cursor: pointer;
width: 20%;
color:var(--bg-color);
border-radius: var(--card-curve);
}

.footer .subscribe button:hover {
transition: all .5s ease;
}

.footer .subscribe button img {
vertical-align: middle;
}

.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fa-linkedin:before {
content: "";
}

.fa-google-plus:before {
content: "";
}

body a:hover {
text-decoration: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}

ul {
margin: 0;
padding: 0;
}

.column li {
display: block;
list-style: none;
margin: 10px 0;
}

.column li a {
color: #656f7b;
font-weight: normal;
font-size: 15px;
line-height: 25px;
padding: 0;
text-transform: capitalize;
}

.column li a:hover {
color: var(--primary);
}


.footer .below-section {
justify-content: space-between;
}

.footer ul.social li,
.footer ul.jst-link li {
display: inline-block;
margin-right: 5px;
}

.footer ul.social li a {
color: #2C3038;
width: 36px;
height: 36px;
line-height: 36px;
display: inline-block;
border-radius: 50%;
text-align: center;
}

.dark .footer ul.social li a{
color:  var(--border-color);
}

.footer ul.social li a:hover {
color: var(--primary);
transition: 0.3s ease;
}

.footer ul.social li a span {
font-size: 15px;
line-height: 36px;
}



/* END FOOTER  */



/* BACKTOTOP */
html {
scroll-behavior: smooth;
}

#backToTop {
display: none;
position: fixed;
bottom: 0px;
right: 0px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
width: 50px;
height: 45px;
background: var(--primary);
padding: 0;
opacity: 0.7;
transition: 0.3s ease;
border-radius: .25em;
}

#backToTop:hover {
opacity: 1;
transition: 0.3s ease;
}

#backToTop span.fa {
line-height: 45px;
color:var(--bg-color);
font-size: 22px;
}


/* END BACKTOTOP  */





/* RESPONSIVE  */


@media screen and ( max-width:1200px){
  header .container{
      max-width: 1120px;
  }
  .startup .startup__title {
      width: 90%;
      margin: 0 auto;
  }
  .ourselves__content{
      width: 60%;
      
  }
  .ready{
      width: 70%;
      margin: 0 auto;
  }
  
}

@media screen and ( max-width:992px){
  
  #switchButton{
      position: absolute;
      right: 65px;
      top : 20px ;
  }
  #portNavbar .nav-item .nav-link,.dropdown-menu {
      text-align: center;
      padding: 8px 0;
  }
  .header__button, .header__search{
      display: block;
      margin: 0 auto;
  }
  #portNavbar .nav-item .nav-link::after{
      display: none;
  }



  .startup .startup__title h2{
      font-size: 40px;
      line-height: 50px;
  }
  .ourselves__content{
      width: 60%;
      
  }
  .ourselves .container{
      width: 90%;
      margin: 0 auto;
  }
  #pills-tabContent{
      width: 90%;
      margin: 0 auto;
      
  }
  .Projects .Projects__title{
      width: 80%;
      margin: 0 auto;
  }
  .ready{
      width: 90%;
      margin: 0 auto;
  }

}



@media screen and ( max-width:768px){

.startup .startup__title{
  width: 100%;
}


.startup .container{
  width: 90%;
  margin: 0 auto;
  
}
.ourselves .ourselves__button{
  margin-bottom: 40px;
}
#accordionExample{
  display: block;
}
.Projects__list{
  display: none;
}
.Projects .Projects__title{
  width: 90%;
  margin: 0 auto;
}
.ready h3{
  font-size: 40px;
  line-height: 50px;
}
.ready{
  width: 90%;
  margin: 0 auto;
}
}

@media screen and ( max-width:667px){
  .startup .startup__title h2{
      font-size: 32px;
      line-height: 42px;
  }
}

@media screen and (max-width :576px){
  .startup .container{
      width: 100%;
      margin: 0 auto;
      
  }
  
}



@media (max-width: 992px) {
.myCarousel .contentCarousel__photo img {
  display: block;
}
.myCarousel {
  margin-top: 70px;
}
.myStats p.counter {
  font-size: 40px;
  line-height: 50px;
}
.myStats .stats__info h4 {
  font-size: 18px;
}
.clients .message {
  margin-top: 1rem;
  padding-bottom: 0;
  padding: 0rem;
}
}

@media (max-width: 568px) {
.myCarousel .contentCarousel__left h3 {
  font-size: 40px;
  line-height: 45px;
}
}

@media (max-width: 375px) {
.myCarousel .contentCarousel__left h3 {
  font-size: 35px;
}
}



@media (max-width: 737px) {
.myStats .stats__info h4 {
  font-size: 17px;
}
}

@media screen and (max-width: 480px) {
.questions .questions__right h2 {
  font-size: 18px;
  line-height: 30px;
}
}

@media (max-width: 900px) {
.clients .slider-info {
  padding: 2rem;
}
}

@media (max-width: 667px) {
.clients .slider-info {
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.clients .img-circle {
  margin-left: auto;
  margin-right: auto;
}

.clients .message {
  text-align: center;
}

.clients .message span {
  left: 0px;
}
}

@media (max-width: 480px) {
.clients .slider-info {
  grid-gap: 10px;
  padding: 2rem 1rem;
}
}

@media screen and (max-width: 1190px) {
.footer .subscribe button {
  width: 30%;
}
}

@media screen and (max-width: 1080px) {
.footer .footer-gd-16 li a {
  font-size: 15px;
  line-height: 23px;
}
}


@media screen and (max-width: 991px) {
.footer .below-section {
  display: block !important;
}

.footer .columns-2 {
  text-align: center;
}
}

@media screen and (max-width: 801px) {
.footer .footer__content h3 {
  margin-bottom: 18px;
}
}

@media screen and (max-width: 640px) {
.footer .footer__content {
  padding: 3em 0;
}

.footer .footer-gd-16 li {
  margin: 5px 0;
}

.footer .subscribe button {
  padding: 12px 10px;
}
}

@media screen and (max-width: 420px) {
.footer .footer__content {
  padding: 2em 0;
}
.footer .subscribe button {
  width: 20%;
}
}


/* END RESPONSIVE  */





